<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>248323963932-5c5s8bam5cc2uv6t9nb9n7dfugftmkr8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.248323963932-5c5s8bam5cc2uv6t9nb9n7dfugftmkr8</string>
	<key>API_KEY</key>
	<string>AIzaSyAwyigZmmR6Y36W64-Ejr4PAUD0A-YKzbw</string>
	<key>GCM_SENDER_ID</key>
	<string>248323963932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aniki.BasketballApp</string>
	<key>PROJECT_ID</key>
	<string>basketballapp-7f260</string>
	<key>STORAGE_BUCKET</key>
	<string>basketballapp-7f260.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:248323963932:ios:177681122178a89a3a33d9</string>
	<key>DATABASE_URL</key>
	<string>https://basketballapp-7f260.firebaseio.com</string>
</dict>
</plist>