<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>333692577499-7497k8hg1mhg10emoq7jqpmeda6qcqcn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333692577499-7497k8hg1mhg10emoq7jqpmeda6qcqcn</string>
	<key>API_KEY</key>
	<string>AIzaSyDTsjqU1EbqWa5B8p1BDWNw5nMPZrb-y0Y</string>
	<key>GCM_SENDER_ID</key>
	<string>333692577499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.davidzucco.basketballApp</string>
	<key>PROJECT_ID</key>
	<string>ingame-ba93b</string>
	<key>STORAGE_BUCKET</key>
	<string>ingame-ba93b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333692577499:ios:70a338e347e4b742</string>
	<key>DATABASE_URL</key>
	<string>https://ingame-ba93b.firebaseio.com</string>
</dict>
</plist>